<!DOCTYPE html>
<html lang="en" xmlns ="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >


    <th:block th:replace="base :: head"></th:block>

<body>
    <th:block th:replace="base :: nav"></th:block>






    <div class="container">
        <br/><br/>
        <div class="starter-template">
            <h1>Securex</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br/> All you get is this text and a mostly barebones HTML document.</p>
        </div>
        <div th:fragment="login" class= "login"
             sec:authorize = "!isAuthenticated()">

            <div>
                <form action = '#' th:action = "@{/login}" method = "post">
                    <input type = "submit" value = "Login"/>
                </form>
            </div>
        </div>

        <div th:fragment="logout" class= "logout"
             sec:authorize = "isAuthenticated()">

            <!--Logged in user: <span sec:authentication = "name"></span>
            Roles: <span sec:authentication = "principal.authorities"></span> -->


            <div>
                <form action = '#' th:action = "@{/logout}" method = "post">
                    <input type = "submit" value = "Logout"/>
                </form>
            </div>
        </div>



    </div><!-- /.container -->

    <th:block th:replace="base :: footlinks"></th:block>
</body>
</html>